@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020817;
  --foreground: #64748b;
  --card: #020817;
  --card-foreground: #64748b;
  --popover: #020817;
  --popover-foreground: #64748b;
  --primary: #3b82f6;
  --primary-foreground: #f8fafc;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #64748b;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #1e293b;
}

body {
  background-color: #0F1115;
  color: #F5F7FA;
}
